body {
    background-color: #F3F1FF;
}
#header {
    background: #562EFF;
}
.custom-color {
    color: #562EFF;
}
.brand-logo {
    width: 40px;
    height: 50px;
}
#header li {
    padding: 0px 10px;
}
#header li a {
   color: #fff;
}
#main .player img{
    width: 56px;
    height: 56px;
}
#main .player p {
    margin-bottom: 0px;
    margin-left: 15px;
    font-weight: 500;
}
.top-player {
    border-radius: 10px 10px 0px 0px;
}
#main .empty {
    background: lightgray;
    height: 1px;
}
/*Fix container width problem*/
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        padding-right: calc(var(--bs-gutter-x)* -1.5);
        padding-left: calc(var(--bs-gutter-x)* -1.5);
    }
#course .card{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    border: none;
}
#course .card .card-text{
    color: #ED6B4F;
}
#course .card .card-body img {
    display: block;
    width: 13px;
    height: 11px;
}
#course .clock-area {
    background-color: rgba(255, 0, 0, 0.2);
    padding: 2px 10px;
    border-radius: 50px;
}